@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Baloo Bhai 2", cursive;
  width: 100%;
  box-sizing: border-box;
  background-color: #eaeded;
  padding-top: 99px;
}
.first {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #131a22;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0px;
  transition: transform 0.3s ease;
  z-index: 1000;
}
.second {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 39px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
}
.first img {
  width: 100px;
  padding: 5px;
  margin: 6px 10px;
  border: 1px solid transparent;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex {
  display: flex;
  justify-content: center;
}
.flex span,
i {
  color: white;
}
.logo {
  flex: 0.15;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: center;
}
.map {
  border: 1px solid transparent;
}

.map i {
  margin-top: 15px;
  padding-left: 5px;
  font-size: 17px;
}
.map div {
  padding: 5px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
.map div span:first-child {
  font-weight: 400;
  font-size: 13px;
}
.map div span {
  font-weight: bold;
}
.right {
  justify-content: space-between;
  flex: 0.25;
  margin-right: 10px;
  align-items: center;
}
.input {
  width: 100%;
  background-color: white;
  flex: 0.6;
  border-radius: 5px;
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  overflow: hidden;
  border: none;
}

.input:focus-within {
  border: 2px solid #febd69;
}

.input input {
  outline-color: transparent;
  flex: 1;
  font-size: 15px;
  padding: 5px 2px;
  border: none;
}
.input .fa-search {
  color: rgb(51, 51, 51);
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  background-color: #febd69;
  border-radius: 0 5px 5px 0;
}
.input div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
  background-color: rgb(236, 234, 234);
  padding: 5px 0;
}
.input div span {
  border-radius: 5px 0 0 5px;
  color: rgb(51, 51, 51);
  padding: 7px 5px;
  font-size: 13px;
  cursor: pointer;
}
.input .fa-caret-down {
  color: rgb(51, 51, 51);
  cursor: pointer;
  padding: 5px;
}
.lang i {
  margin: 0;
  padding: 0;
  color: gray;
}
.lang {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid transparent;
}
.right img {
  width: 35px;
  height: 35px;
  padding: 2px;
  padding-top: 10px;
  margin: 0;
  cursor: pointer;
}
.sign {
  display: flex;
  flex-direction: column;
  padding: 3px 6px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
}
.sign span:first-child {
  font-weight: 400;
  font-size: 13px;
}
.sign span {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}
.flex .ac span {
  font-size: 15px;
  margin-right: 4px;
  font-weight: bold;
}
.fa-shopping-cart {
  font-size: 27px;
}
.ca {
  font-size: 14px;
  font-weight: bold;
}
.cart {
  align-items: flex-end;
  position: relative;
  padding: 5px 10px;
  border: 1px solid transparent;
  cursor: pointer;
}

.cart:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.logo img:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.map:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.lang:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.sign:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.lang:hover {
  border: 1px solid white;
  border-radius: 3px;
}
.input .fa-search:hover {
  background-color: #fdae46;
}
.input div:hover {
  background-color: rgb(204, 202, 202);
  color: black;
}
.input select {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
  background-color: rgb(236, 234, 234);
  padding: 5px 0;
  border-radius: 5px 0 0 5px;
  color: rgb(51, 51, 51);
  font-size: 13px;
  cursor: pointer;
  outline: none;
  width: 100px;
}
.input select:hover {
  background-color: rgb(204, 202, 202);
  color: black;
}
.second {
  width: 100%;
  height: 39px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
}
.second ul {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
.second span {
  font-size: 15px;
}
.second-1 div i {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid transparent;
}
.second li {
  padding: 8px 12px;
  font-size: 15px;
  margin: 7px 0;
  cursor: pointer;
  border: 1px solid transparent;
}
.second-1 {
  flex: 0.06;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-1 div {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.second-2 {
  display: flex;
  flex: 0.74;
  justify-content: flex-start;
}
.second-1 div span {
  padding: 5px;
  cursor: pointer;
}
.second-1 div:hover {
  border: 1px solid white;
}
.second-2 li:hover {
  border: 1px solid white;
}
.sec-1 {
  position: relative;
  width: 100%;
  height: 1150px;
  box-sizing: border-box;
}
.slide {
  height: 560px;
}
.slide img {
  width: 1380px;
  height: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: auto;
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 560px;
}
.image-box {
  display: flex;
  position: absolute;
  animation: carousel 15s alternate infinite;
}
@keyframes carousel {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  24% {
    left: -1380px;
  }
  50% {
    left: -1380px;
  }
  54% {
    left: calc(-1380 * 2px);
  }
  80% {
    left: calc(-1380 * 2px);
  }
  84% {
    left: calc(-1380 * 3px);
  }
  100% {
    left: calc(-1380 * 3px);
  }
}
.container-1 {
  position: absolute;
  z-index: 1;
  top: 240px;
  width: 100%;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, transparent, #eaeded 30%);
}
.container-1 .para {
  background-color: rgb(238, 234, 234);
  width: 100%;
  text-align: center;
}
.container-1 div:first-child p {
  font-size: 14px;
  padding: 10px 0;
}
.product-comp {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0px;
  justify-content: space-around;
}
.product-comp .box {
  width: 335px;
  height: 400px;
  background-color: white;
  margin: 0px;
}
.box h3 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(43, 42, 42);
}
.box a {
  margin-left: 4px;
  padding: 10px;
}
.box p {
  color: blue;
}
.box-a {
  overflow: hidden;
  background-color: white;
}
.box div img {
  width: 165px;
  height: 100px;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
}
.box-a div {
  display: inline-block;
}
.box-a div span {
  display: block;
  font-size: 13px;
  margin-left: 20px;
  font-weight: bold;
}

.best {
  background-color: white;
  height: 140px;
  text-align: center;
  padding: 15px;
}
.best h3 {
  font-size: 20px;
  margin: 20px;
  margin-bottom: 15px;
}
.best button {
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgb(211, 207, 207);
  color: rgb(43, 42, 42);
  background-color: #ffd814;
  width: 270px;
  height: 27px;
  margin-left: 12px;
  border: none;
  cursor: pointer;
}
.best button:hover {
  background-color: #f0c000;
}
.box.box-c img {
  margin: 0 20px;
  height: 260px;
  width: 290px;
  cursor: pointer;
}
.sec-2 {
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0px;
}
.sec-2 h3 {
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 5px;
}
.slide-sec {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-x: auto;
  background-color: white;
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
}
.product-slide {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.product-slide::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
  cursor: pointer;
}
.product-slide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
}
.product-slide li {
  list-style: none;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.l-btn,
.r-btn {
  background-color: rgb(255, 255, 255, 1);
  height: 90px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  top: 50%;
  position: absolute;
  border: 2px solid transparent;
  transform: translateY(-50%);
  z-index: 101;
}
.l-btn {
  border-radius: 0 5px 5px 0;
  left: 10px;
}
.r-btn {
  border-radius: 5px 0 0 5px;
  right: 10px;
}
.l-btn:hover {
  border: 3px solid rgb(2, 150, 150);
}
.r-btn:hover {
  border: 3px solid rgb(2, 150, 150);
}
.r-btn i,
.l-btn i {
  color: rgb(54, 54, 54);
  position: absolute;
  font-size: 30px;
  top: 35%;
  left: 12%;
  right: 12%;
}
.slide-sec h3 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}
.box-d a {
  padding-top: 10px;
}
.box-d div img {
  width: 155px;
  height: 110px;
  margin-left: 5px;
  margin-right: 0px;
}
.box-d div span {
  margin-bottom: 11px;
}
.footer {
  width: 100%;
  height: 450px;
  transition: all 0.2s;
}
.backtop {
  text-align: center;
  height: 50px;
  background-color: #37475a;
  padding: 15px;
  cursor: pointer;
}
.backtop span {
  color: white;
  font-weight: bold;
}
.backtop:hover {
  background-color: #4d627c;
}
.detail {
  background-color: #232f3e;
  height: 375px;
}
.table {
  margin: 0 150px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.table div {
  width: 230px;
}
.t-head {
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.table li {
  color: rgb(223, 221, 221);
  padding-top: 10px;
  font-weight: lighter;
  list-style: none;
  font-size: 14px;
}
.list li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.copy {
  background-color: #131a22;
  height: 90px;
  padding: 40px;
  text-align: center;
}
.copy span {
  color: white;
  font-size: 14px;
}
.bottom-footer {
  background-color: #232f3e;
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lang-country {
  display: flex;
  gap: 20px;
}
.lang-select,
.country-select {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.lang-select img {
  width: 20px;
  margin-right: 5px;
}
.lang-select i,
.country-select i {
  margin-left: 5px;
}
.footer-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.footer-links li {
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.footer-links li:hover {
  text-decoration: underline;
}
.line {
  height: 0.8px;
  width: 100%;
  background-color: rgb(172, 172, 172);
}
.sidebar {
  background-color: white;
  width: 330px;
  height: calc(100% - 60px);
  transform: translateX(-390px);
  transition: transform 0.2s ease;
  position: absolute;
  top: 60px;
  z-index: 1001;
  overflow-y: scroll;
  box-shadow: 2px 2px 30px black;
  will-change: transform;
}
.hdn-head {
  background-color: #232f3e;
  height: 60px;
  width: 100%;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
}
.hdn-head h2 {
  line-height: 60px;
  cursor: pointer;
}
.hdn-content h3 {
  padding: 20px 25px;
  color: rgb(39, 39, 39);
}
.hdn-content ul div {
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
  font-size: rgb(70, 70, 70);
  font-size: 14px;
  padding: 15px 25px;
  justify-content: space-between;
}
.hdn-head .fa-xmark {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 102;
}
.fa-angle-right {
  color: rgb(27, 27, 27);
}
.hdn-content ul div:hover {
  background-color: rgb(230, 227, 227);
}
.hdn-content ul {
  padding-bottom: 9px;
}
.black {
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
.black.active {
  width: 100%;
  z-index: 100;
  pointer-events: none;
}
.black.active-signin {
  width: 100%;
  z-index: 1000;
  top: 0;
}
.sidebar.active {
  transform: translateX(0);
}
.fa-xmark.active {
  display: block;
}
.hdn-sign.active {
  display: block;
}
.triangle.active {
  display: block;
}
.triangle {
  position: absolute;
  z-index: 101;
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  width: 0;
  height: 0;
  transition: all 2s;
  border: 10px solid transparent;
  border-bottom-color: white;
}
.hdn-sign {
  position: absolute;
  z-index: 1002;
  transition: all 2s;
  display: none;
  width: 500px;
  height: auto;
  top: 100%;
  left: -250px;
  max-width: 90vw;
  max-height: 80vh;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
}
.hdn-table {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.hdn-sign li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hdn-table h3 {
  font-size: 16px;
  padding: 10px 0;
}
.hdn-table li {
  color: rgb(84, 84, 84);
  font-size: 13px;
  padding: 5px 0;
}
.hdn-line {
  width: 0.5px;
  color: black;
  background-color: rgb(190, 190, 190);
  height: 400px;
}
.stop-scroll {
  overflow: hidden;
  height: 100%;
}
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.search-overlay.active {
  opacity: 1;
  visibility: visible;
}
.search-message {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.search-message.active {
  display: block;
}
#demo-notice {
  background-color: #fff3cd;
  color: #856404;
  padding: 12px 16px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ffeeba;
  font-family: Arial, sans-serif;
}
#demo-notice button {
  color: red;
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0.3;
  }
}
